        *{margin:0;padding:0}
		ul{list-style:none;}
		ul li,.mar{margin-left:30px;}
		a{text-decoration:none;}
		#bottom_u1 a:hover,#bottom_u2 a:hover{text-decoration:underline;}
		#bottom{height:260px;background:#877164;}
		#bottom_parent{
			width:1162px;
			height:200px;
			margin:0 auto;
			display:flex;
			flex-flow:row nowrap;
			justify-content:space-between;
			margin-top:30px;
		}
		#bottom_ul2{
			width:450px;
			height:150px;
			display:flex;
			flex-flow:row nowrap;
		}
		#bottom_u1>li a,.order{
			font-family:"microsoft yahei";
			font-size:14px;
			color:#fff;
		}
		#bottom_u2 li a,#bottom_b-right p{
			font-family:"microsoft yahei";
			font-size:12px;
			color:#e1d6c6;
		}
		#bottom_u1,#bottom_u2{margin-left:30px;}
		#bottom_b-right{
			width:480px;
			height:180px;
			display:flex;
			justify-content:space-between;
			flex-flow:row wrap;
			margin-left:-50px;
		}
		#bottom_d1{
			width:180px;
			background:url("../image/reg_login/icon-12.png");
			background-repeat:no-repeat;
			background-position:left center;
			padding-left:40px;
		}
		#bottom_d2{
			width:215px;
			background:url("../image/reg_login/icon-14.png");
			background-repeat:no-repeat;
			background-position:left center;
			padding-left:35px;
		}
		#bottom_d3{
			width:355px;
			height:118px;
			background:url("../image/reg_login/icon-13.png");
			background-repeat:no-repeat;
			background-position:left 5px;
			padding-left:35px;
			position:relative;
		}
		#bottom_d3>a>img{
			width:35px;
			height:40px;
			position:absolute;
			bottom:-10px;
			right:20px;
		}
		#bottom_b-right p{margin-top:8px;}
		#bottom_b-right #yH{color:#3cf;}